# Python examples


## Creates

- createUser
- createMarket
- createTrade

### Create user

Creates a new user. Returns signature and verify keys.

~~~~
baseurl = 'https://https://blocmarket.herokuapp.com/'
url = baseurl +'createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example return as json:

~~~~
{'signingKey_hex': '0cca0a3739eba76cc78823d9f6e898379014d8c53172f5e45c171a3c54a9f477',
 'traderId': '1',
 'verifyKey_hex': 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'}
~~~~
        
### Create/update market

Creates/updates a market. Returns True and market details if successful. 

Specify:
- Market root and branch id
- Minimum and maximum outcomes
- Trader Id
- Sign and verify keys

Note that sending the private key is a terrible idea. In production signing is done on client side.

~~~~
sk = '0cca0a3739eba76cc78823d9f6e898379014d8c53172f5e45c171a3c54a9f477'
vk = 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'
tId = 2

content_makemarket = {"signingKey_hex": sk,
                    "traderId": tId, 
                    "verifyKey_hex": vk,
                    "marketRootId": 1, 
                    "marketBranchId": 1, 
                    "marketMin": 0,
                    "marketMax":1}

response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
~~~~

Example return as json:

~~~~
{'checks': 'True',
 'marketBranchId': 1,
 'marketMax': 1,
 'marketMin': 0,
 'marketRootId': 1,
 'traderId': '2'}
~~~~
    
### Create trade

Create a trade. Returns True and trade details if successful.

Specify:

- Trader Id
- Market Id
- Price
- Quantity
- Sign and verify keys

~~~~
url = baseurl+'createTrade'

content_maketrade = {"signingKey_hex": sk,
                     "traderId": tId,
                     "verifyKey_hex": vk,
                     "marketId": mkId,
                     "price": 0.55,
                     "quantity":1}

response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
~~~~

Example return as json:
~~~~
{'checks': 'True',
 'marketId': 1,
 'price': 0.55,
 'quantity': -1,
 'traderId': '2'}
~~~~

## Views

- viewMarketBounds
- viewOrderBook
- viewOpenTrades
- viewMatchedTrades

### View markets

~~~~
url = baseurl+'viewMarketBounds'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":2,"2":3,"3":4},"marketRootId":{"0":1,"1":2,"2":3,"3":4},"marketBranchId":{"0":1,"1":1,"2":1,"3":1},"marketMin":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},"marketMax":{"0":0.7,"1":0.7,"2":0.7,"3":0.7}}'
~~~~

### View full order book

~~~~
url = baseurl+'viewOrderBook'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1,"2":1},"price":{"0":0.55,"1":0.55,"2":0.55},"quantity":{"0":1.0,"1":-1.0,"2":-1.0},"traderId":{"0":1,"1":1,"2":1},"iMatched":{"0":true,"1":true,"2":true},"timeStampUTC":{"0":1547976585838,"1":1547976602766,"2":1547976613155}}'
~~~~

### View open trades

~~~~
url = baseurl+'viewOpenTrades'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

~~~~
'{"marketId":{"12":1,"15":1,"18":1,"21":1,"24":1},"price":{"12":0.43,"15":0.43,"18":0.43,"21":0.43,"24":0.43},"quantity":{"12":-1.0,"15":-1.0,"18":-1.0,"21":-1.0,"24":-1.0},"traderId":{"12":1,"15":1,"18":1,"21":1,"24":1},"timeStampUTC":{"12":1547976742476,"15":1547976750344,"18":1547976758683,"21":1547976768968,"24":1547976775537}}'
~~~~

### View matched trades

~~~~
url = baseurl+'viewMatchedTrades'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":0.43,"1":0.55},"quantity":{"0":0.0,"1":0.0},"traderId":{"0":1,"1":1}}'

~~~~

### View trader summary

A view joining order book and marketTable for a particular trader.

~~~~
url = baseurl+'viewTradeSummary'
content = {'traderId': 2}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":0.8,"1":0.5},"quantity":{"0":-1.0,"1":-1.0},"traderId":{"0":2,"1":2},"iMatched":{"0":false,"1":true},"timeStampUTC":{"0":1547982939316,"1":1547982938964},"marketMin":{"0":0.0,"1":0.0},"marketMax":{"0":1.0,"1":1.0}}'
~~~~

# Python demonstration

In [1035]:
import requests
import json
import pandas as pd
import time

# Running flask app from powershell
# $env:FLASK_APP = "api"
# $env:FLASK_ENV = "development"
# flask run

# Running flask from terminal on OSX
# export FLASK_APP=api
# export FLASK_ENV=development
# flask run

# Running with gunicorn (heroku, digitalocean, etc):
# Procfile >
# web: gunicorn wsgi --log-file -
# wsgi.py >
# from api import app as application
#
#if __name__ == "__main__":
#    application.run()

# https://devcenter.heroku.com/articles/getting-started-with-python
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-14-04

In [1036]:
#  baseurl = 'https://vast-depths-89393.herokuapp.com/'
# baseurl = 'https://glacial-hollows-90395.herokuapp.com/'
#baseurl = 'https://blocmarket.herokuapp.com/'
#baseurl = 'http://127.0.0.1:5000/'
baseurl = 'http://127.0.0.1:7000/'

In [1037]:
url = baseurl +'createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1038]:
response.json()

{'signingKey_hex': '7bca2645e9b5d19217565fbaa242901b72da70aa8d4c068aa18fbe56ea841221',
 'traderId': '6',
 'verifyKey_hex': '7130e9f6b6a6100ac236fbb9862d78b9012012434cfe62ada1b67cb08b282ebf'}

In [1039]:
url = baseurl + 'createMarket'

mkRtId = 1
mkId=1
# copy from response
sk = response.json()['signingKey_hex']
vk = response.json()['verifyKey_hex']
tId = response.json()['traderId']

In [1040]:
content_makemarket = {"signingKey_hex": sk,
                    "traderId": tId, 
                    "verifyKey_hex": vk,
                    "marketRootId": mkRtId, 
                    "marketBranchId": 1, 
                    "marketMin": 0,
                    "marketMax":1}

response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)

In [1041]:
response.json()

{'checks': 'False',
 'marketBranchId': 1,
 'marketMax': 1,
 'marketMin': 0,
 'marketRootId': 1,
 'traderId': '6'}

In [1042]:
pd.DataFrame(response.json(), index=[0])

  checks  marketBranchId  marketMax  marketMin  marketRootId traderId
0  False               1          1          0             1        6

In [1043]:
# Create a trade
url = baseurl+'createTrade'

content_maketrade = {"signingKey_hex": sk,
                     "traderId": tId,
                     "verifyKey_hex": vk,
                     "marketId": mkId,
                     "price": 0.55,
                     "quantity":1}
# Post trade
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [1044]:
response.json()

{'checks': 'True',
 'marketId': 1,
 'price': 0.55,
 'quantity': 1,
 'traderId': '6'}

In [1045]:
# View json response
pd.DataFrame(response.json(), index=[0])

  checks  marketId  price  quantity traderId
0   True         1   0.55         1        6

In [1046]:
# Create a matched trade
url = baseurl+'createTrade'
content_maketrade['quantity'] = -1
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [1047]:
response.json()

{'checks': 'True',
 'marketId': 1,
 'price': 0.55,
 'quantity': -1,
 'traderId': '6'}

In [1048]:
# Create many matched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 1.412602186203003 seconds.
matched trade: 1 in 1.3080730438232422 seconds.
matched trade: 2 in 1.555142879486084 seconds.
matched trade: 3 in 1.4058210849761963 seconds.
matched trade: 4 in 1.4421751499176025 seconds.

In [1049]:
url = baseurl+'createMarket'

for i in range(4):
    t = time.time()

    content_makemarket = {"signingKey_hex": sk,
      "traderId": int(tId), "verifyKey_hex": vk,
      "marketRootId": i+1, "marketBranchId": 1, "marketMin": 0, "marketMax":0.7}

    response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
    if response.json()['checks'] == 'True':
        print('market created: ' + str(i+1) + ' in ' + str(time.time() - t) + ' seconds.')
    else:
        print('failed to create market ' +str(i+1))

failed to create market 1
failed to create market 2
failed to create market 3
failed to create market 4

In [1050]:
response.json()

{'checks': 'False',
 'marketBranchId': 1,
 'marketMax': 0.7,
 'marketMin': 0,
 'marketRootId': 4,
 'traderId': 6}

In [1051]:
url = baseurl+'viewMarketBounds'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1052]:
a = pd.read_json(response.json())
a

   marketId  marketRootId  marketBranchId  marketMin  marketMax
0         1             1               1        0.0        1.0
1         2             1               2        0.1        0.9
2         3             2               1        0.0        1.0
3         4             3               1        0.0        0.7
4         5             4               1        0.0        0.7

In [1053]:
url = baseurl+'viewOrderBook'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1054]:
a = pd.read_json(response.json())
a

    marketId  price  quantity  traderId  iMatched            timeStampUTC
0          1   0.80        -1         2     False 2019-01-20 11:15:39.316
1          1   0.55         1         3      True 2019-01-20 11:37:37.453
10         1   0.55         1         3      True 2019-01-20 11:37:40.390
11         1   0.55        -1         3      True 2019-01-20 11:37:40.621
12         1   0.55         1         3      True 2019-01-20 11:37:40.848
13         1   0.55        -1         3      True 2019-01-20 11:37:41.077
14         1   0.55         1         3      True 2019-01-20 11:37:41.307
15         1   0.43        -1         3      True 2019-01-20 11:37:46.716
16         1   0.43         1         3      True 2019-01-20 11:38:03.200
17         1   0.43        -1         3      True 2019-01-20 11:37:47.410
18         1   0.43         1         3      True 2019-01-20 11:38:04.493
19         1   0.43        -1         3      True 2019-01-20 11:37:48.058
2          1   0.55        -1         3      True 2019-01-20 11:37:38.315
20         1   0.43         1         3      True 2019-01-20 11:38:05.781
21         1   0.43        -1         3      True 2019-01-20 11:37:48.811
22         1   0.43        -1         3      True 2019-01-20 11:37:49.521
23         1   0.43        -1         3      True 2019-01-20 11:38:02.528
24         1   0.43        -1         3      True 2019-01-20 11:38:03.851
25         1   0.43        -1         3      True 2019-01-20 11:38:05.140
26         1   0.43        -1         3      True 2019-01-20 11:38:06.455
27         1   0.43         1         3      True 2019-01-20 11:38:07.101
28         1   0.43        -1         3     False 2019-01-20 11:38:07.772
29         1   0.43         1         3      True 2019-01-20 11:38:08.411
3          1   0.55        -1         3      True 2019-01-20 11:37:39.116
30         1   0.55         1         4      True 2019-01-20 11:41:55.732
31         1   0.55        -1         4      True 2019-01-20 11:41:56.484
32         1   0.55        -1         4      True 2019-01-20 11:41:57.253
33         1   0.55         1         4      True 2019-01-20 11:41:57.982
34         1   0.55        -1         4      True 2019-01-20 11:41:58.638
35         1   0.55         1         4      True 2019-01-20 11:41:59.386
..       ...    ...       ...       ...       ...                     ...
43         1   0.43        -1         4     False 2019-01-20 11:42:07.252
44         1   0.43        -1         4     False 2019-01-20 11:42:07.934
45         1   0.43        -1         4     False 2019-01-20 11:42:08.605
46         1   0.43        -1         4     False 2019-01-20 11:42:09.281
47         1   0.43        -1         4     False 2019-01-20 11:42:10.953
48         1   0.43         1         4      True 2019-01-20 11:42:11.636
49         1   0.43        -1         4     False 2019-01-20 11:42:12.302
5          1   0.55        -1         3      True 2019-01-20 11:37:39.635
50         1   0.43         1         4      True 2019-01-20 11:42:13.043
51         1   0.43        -1         4     False 2019-01-20 11:42:13.804
52         1   0.43         1         4      True 2019-01-20 11:42:14.519
53         1   0.43        -1         4     False 2019-01-20 11:42:15.174
54         1   0.43         1         4      True 2019-01-20 11:42:15.834
55         1   0.43        -1         4     False 2019-01-20 11:42:16.511
56         1   0.55         1         6      True 2019-01-20 11:54:18.323
57         1   0.55        -1         6      True 2019-01-20 11:54:19.804
58         1   0.55        -1         6      True 2019-01-20 11:54:21.392
59         1   0.55         1         6      True 2019-01-20 11:54:22.070
6          1   0.50         1         1      True 2019-01-20 11:15:38.609
60         1   0.55        -1         6      True 2019-01-20 11:54:22.725
61         1   0.55         1         6      True 2019-01-20 11:54:23.377
62         1   0.55        -1         6      True 2019-01-20 11:54:24.203
63         1   0.55         1         6      True 2019-01-20 11:54:24.934
64         1   0.55        -1         6      True 2019-01-20 11:54:25.671
65         1   0.55         1         6      True 2019-01-20 11:54:26.339
66         1   0.55        -1         6      True 2019-01-20 11:54:27.025
67         1   0.55         1         6      True 2019-01-20 11:54:27.778
7          1   0.50        -1         2      True 2019-01-20 11:15:38.964
8          1   0.55         1         3      True 2019-01-20 11:37:39.870
9          1   0.55        -1         3      True 2019-01-20 11:37:40.098

[68 rows x 6 columns]

In [1055]:
# Create many unmatched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    content_maketrade['price'] = 0.43
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('unmatched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

unmatched trade: 0 in 0.6671168804168701 seconds.
unmatched trade: 1 in 0.6644852161407471 seconds.
unmatched trade: 2 in 0.6568682193756104 seconds.
unmatched trade: 3 in 0.6687240600585938 seconds.
unmatched trade: 4 in 0.6525537967681885 seconds.

In [1056]:
response.json()

{'checks': 'True',
 'marketId': 1,
 'price': 0.43,
 'quantity': -1,
 'traderId': '6'}

In [1057]:
url = baseurl+'viewOpenTrades'

content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1058]:
pd.read_json(response.json())

    marketId  price  quantity  traderId            timeStampUTC
0          1   0.80        -1         2 2019-01-20 11:15:39.316
28         1   0.43        -1         3 2019-01-20 11:38:07.772
42         1   0.43        -1         4 2019-01-20 11:42:06.528
43         1   0.43        -1         4 2019-01-20 11:42:07.252
44         1   0.43        -1         4 2019-01-20 11:42:07.934
45         1   0.43        -1         4 2019-01-20 11:42:08.605
46         1   0.43        -1         4 2019-01-20 11:42:09.281
47         1   0.43        -1         4 2019-01-20 11:42:10.953
49         1   0.43        -1         4 2019-01-20 11:42:12.302
51         1   0.43        -1         4 2019-01-20 11:42:13.804
53         1   0.43        -1         4 2019-01-20 11:42:15.174
55         1   0.43        -1         4 2019-01-20 11:42:16.511
68         1   0.43        -1         6 2019-01-20 11:54:30.354
69         1   0.43        -1         6 2019-01-20 11:54:31.019
70         1   0.43        -1         6 2019-01-20 11:54:31.676
71         1   0.43        -1         6 2019-01-20 11:54:32.344
72         1   0.43        -1         6 2019-01-20 11:54:32.997

In [1059]:
response.json()

'{"marketId":{"0":1,"28":1,"42":1,"43":1,"44":1,"45":1,"46":1,"47":1,"49":1,"51":1,"53":1,"55":1,"68":1,"69":1,"70":1,"71":1,"72":1},"price":{"0":0.8,"28":0.43,"42":0.43,"43":0.43,"44":0.43,"45":0.43,"46":0.43,"47":0.43,"49":0.43,"51":0.43,"53":0.43,"55":0.43,"68":0.43,"69":0.43,"70":0.43,"71":0.43,"72":0.43},"quantity":{"0":-1.0,"28":-1.0,"42":-1.0,"43":-1.0,"44":-1.0,"45":-1.0,"46":-1.0,"47":-1.0,"49":-1.0,"51":-1.0,"53":-1.0,"55":-1.0,"68":-1.0,"69":-1.0,"70":-1.0,"71":-1.0,"72":-1.0},"traderId":{"0":2,"28":3,"42":4,"43":4,"44":4,"45":4,"46":4,"47":4,"49":4,"51":4,"53":4,"55":4,"68":6,"69":6,"70":6,"71":6,"72":6},"timeStampUTC":{"0":1547982939316,"28":1547984287772,"42":1547984526528,"43":1547984527252,"44":1547984527934,"45":1547984528605,"46":1547984529281,"47":1547984530953,"49":1547984532302,"51":1547984533804,"53":1547984535174,"55":1547984536511,"68":1547985270354,"69":1547985271019,"70":1547985271676,"71":1547985272344,"72":1547985272997}}'

In [1060]:
url = baseurl+'viewMatchedTrades'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1061]:
pd.read_json(response.json())

   marketId  price  quantity  traderId
0         1   0.43        -4         3
1         1   0.43         4         4
2         1   0.50         1         1
3         1   0.50        -1         2
4         1   0.55         0         3
5         1   0.55         0         4
6         1   0.55         0         6

In [1062]:
response.json()

'{"marketId":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":1,"6":1},"price":{"0":0.43,"1":0.43,"2":0.5,"3":0.5,"4":0.55,"5":0.55,"6":0.55},"quantity":{"0":-4.0,"1":4.0,"2":1.0,"3":-1.0,"4":0.0,"5":0.0,"6":0.0},"traderId":{"0":3,"1":4,"2":1,"3":2,"4":3,"5":4,"6":6}}'

In [1063]:
# Create many matched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 1.329035997390747 seconds.
matched trade: 1 in 1.4989871978759766 seconds.
matched trade: 2 in 1.361778974533081 seconds.
matched trade: 3 in 1.3090989589691162 seconds.
matched trade: 4 in 1.3315470218658447 seconds.

In [1064]:
url = baseurl+'viewTradeSummary'
content = {'traderId': 2}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1066]:
pd.read_json(response.json())

,marketId,price,quantity,traderId,iMatched,timeStampUTC,marketMin,marketMax
0,1,0.8,-1,2,False,2019-01-20 11:15:39.316,0,1
1,1,0.5,-1,2,True,2019-01-20 11:15:38.964,0,1

In [949]:
tId

'2'


# Curl examples



## Create user

~~~~
curl --header "Content-Type: application/json" -X POST http://127.0.0.1:7000/createUser
~~~~
        
## Create market

~~~~
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf",
"traderId": 1, 
"verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc",
"marketRootId": 1, 
"marketBranchId": 5, 
"marketMin": 0, 
"marketMax": 1}' 
--header "Content-Type: application/json" -X POST http://localhost:7000/createMarket
~~~~
    
## Create trade

~~~~
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf",
"traderId": 1, 
"verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc",
"marketId": 1,
"price": 0.1212,
"quantity": 1}' --header "Content-Type: application/json" -X POST http://localhost:7000/createTrade

~~~~
        
## View order book (output to file)

~~~~
curl --header "Content-Type: application/json" -X POST http://127.0.0.1:7000/viewOrderBook --output ob.txt
~~~~    
        
Also can load json from file with something like 
~~~~ 
curl -d "@data.json" -X POST http://localhost:3000/data 
~~~~

Matlab will (probably?) run these with 
~~~~
[A, curlout] = system('curlstring')
~~~~

# Setup for release

- Get extra database rows on Heroku
- Single