# Python API examples


## Creates

- createUser
- createMarket
- createTrade

### Create user

Creates a new user. Returns signature and verify keys.

~~~~
import requests
url = 'https://blocmarket.herokuapp.com/createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example return as json:

~~~~
{'signingKey': '0cca0a3739eba76cc78823d9f6e898379014d8c53172f5e45c171a3c54a9f477',
 'traderId': '1',
 'verifyKey': 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'}
~~~~
        
### Create/update market

Creates/updates a market. Returns True and market details if successful. 

Specify:
- Market root and branch id
- Minimum and maximum outcomes
- Trader Id
- Sign and verify keys

Note that sending the private key is a terrible idea. In production signing is done on client side.

~~~~
sk = '0cca0a3739eba76cc78823d9f6e898379014d8c53172f5e45c171a3c54a9f477'
vk = 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'
tId = 2

url = 'https://blocmarket.herokuapp.com/createMarket'
headers = {'content-type': 'application/json'}
content_makemarket = {"signingKey": sk,
                    "traderId": tId, 
                    "verifyKey": vk,
                    "marketRootId": 1, 
                    "marketBranchId": 1, 
                    "marketMin": 0,
                    "marketMax":1}

response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
~~~~

Example return as json:

~~~~
{'allChecks': "{'inputChk': True, 'marketLimitChk': True, 'traderIdChk': True, 'marketId': '1', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': False, 'timeChk': True}",
 'checks': 'True',
 'marketBranchId': 1,
 'marketId': 1,
 'marketMax': 1,
 'marketMin': 0,
 'marketRootId': 1,
 'traderId': 2}

~~~~
    
### Create trade

Create a trade. Returns True and trade details if successful.

Specify:

- Trader Id
- Market Id
- Price
- Quantity
- Sign and verify keys

~~~~
url = 'https://blocmarket.herokuapp.com/createTrade'
headers = {'content-type': 'application/json'}
content_maketrade = {"signingKey": sk,
                     "traderId": int(tId),
                     "verifyKey": vk,
                     "marketId": mkId,
                     "price": 0.55,
                     "quantity":1}
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)



~~~~

Example return as json:
~~~~

{'allChecks': "{'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 0.551,
 'quantity': 1,
 'traderId': 1}


~~~~

## Views

- viewMarketBounds
- viewOrderBook
- viewOpenTrades
- viewMatchedTrades

### View markets

~~~~
url = 'https://blocmarket.herokuapp.com/viewMarketBounds'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":2,"2":3,"3":4},
"marketRootId":{"0":1,"1":2,"2":3,"3":4},
"marketBranchId":{"0":1,"1":1,"2":1,"3":1},
"marketMin":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},
"marketMax":{"0":0.7,"1":0.7,"2":0.7,"3":0.7}}'
~~~~

### View full order book

~~~~
url = 'https://blocmarket.herokuapp.com/viewOrderBook'
headers = {'content-type': 'application/json'}
content = {'marketId': 1}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":0.55,"1":0.55},
"quantity":{"0":1.0,"1":-1.0,"traderId":{"0":1,"1":1},
"iMatched":{"0":true,"1":true,
"timeStampUTC":{"0":1547976585838,"1":1547976602766}}'
~~~~

Using a stream is only necessary if the order book is large and the request is truncated by the server, but it doesn't do any harm.

### View open trades

~~~~
url = 'https://https://blocmarket.herokuapp.com/viewOpenTrades'
content = {'marketId': 1}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

~~~~
'{"marketId":{"12":1,"15":1,"18":1,"21":1,"24":1},
"price":{"12":0.43,"15":0.43,"18":0.43,"21":0.43,"24":0.43},
"quantity":{"12":-1.0,"15":-1.0,"18":-1.0,"21":-1.0,"24":-1.0},
"traderId":{"12":1,"15":1,"18":1,"21":1,"24":1},"timeStampUTC":
{"12":1547976742476,"15":1547976750344,"18":1547976758683,"21":1547976768968,"24":1547976775537}}'
~~~~

### View matched trades

~~~~
url = 'https://blocmarket.herokuapp.com/viewMatchedTrades'
headers = {'content-type': 'application/json'}
content = {'marketId': 1}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":0.43,"1":0.55},"quantity":{"0":0.0,"1":0.0},"traderId":{"0":1,"1":1}}'

~~~~

### View trader summary

A view joining order book and marketTable for a particular trader.

~~~~
url = 'https://blocmarket.herokuapp.com/viewTradeSummary'
headers = {'content-type': 'application/json'}
content = {'traderId': 2}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":0.8,"1":0.5},
"quantity":{"0":-1.0,"1":-1.0},"traderId":{"0":2,"1":2},
"iMatched":{"0":false,"1":true},
"timeStampUTC":{"0":1547982939316,"1":1547982938964},
"marketMin":{"0":0.0,"1":0.0},"marketMax":{"0":1.0,"1":1.0}}'
~~~~

# Python demonstration

In [1530]:
import requests
import json
import numpy as np
import pandas as pd
import time

%matplotlib inline
import matplotlib.pyplot as plt

# Running flask app from powershell
# $env:FLASK_APP = "api"
# $env:FLASK_ENV = "development"
# flask run

# Running flask from terminal on OSX
# export FLASK_APP=api
# export FLASK_ENV=development
# flask run

# Running with gunicorn (heroku, digitalocean, etc):
# Procfile >
# web: gunicorn wsgi --log-file -
# wsgi.py >
# from api import app as application
#
#if __name__ == "__main__":
#    application.run()

# https://devcenter.heroku.com/articles/getting-started-with-python
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-14-04

In [1761]:
#baseurl = 'https://blocmarket.herokuapp.com/'
# baseurl = 'http://127.0.0.1:5000/'
baseurl = 'http://127.0.0.1:7000/'

In [1762]:
# Create a new user
url = baseurl +'createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1763]:
# View response as json
response.json()

{'signingKey': '24b8812528d532171907bcd2e35543f2488e929ab99ffa62e393c24b92f4b359',
 'traderId': '7',
 'verifyKey': '6eac049b60e38db86e78f0e6789ad8889325834a8e7099ccc0de766c6853d8d9'}

In [1764]:
# Copy keys and traderid from response
sk = response.json()['signingKey']
vk = response.json()['verifyKey']
tId = int(response.json()['traderId'])

In [1765]:
# Create a new market
mkRtId = 1
mkBrId = 1


url = baseurl + 'createMarket'
content_makemarket = {"signingKey": sk,
                        "traderId": tId, 
                        "verifyKey": vk,
                        "marketRootId": 1, 
                        "marketBranchId": mkBrId, 
                        "marketMin": 0.11,
                        "marketMax":0.7}
# Post market
response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)

In [1766]:
# response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
# View response as json
response.json()

{'allChecks': "{'inputChk': True, 'marketLimitChk': True, 'traderIdChk': True, 'marketId': '1', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': False, 'timeChk': True}",
 'checks': 'False',
 'marketBranchId': 1,
 'marketId': 1,
 'marketMax': 0.7,
 'marketMin': 0.11,
 'marketRootId': 1,
 'traderId': 7}

In [1767]:
# Save market id from response
mkId = response.json()['marketId']

In [1768]:
# Create a trade
url = baseurl+'createTrade'

content_maketrade = {"signingKey": sk,
                     "traderId": tId,
                     "verifyKey": vk,
                     "marketId": mkId,
                     "price": 0.5512,
                     "quantity":1}
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [1769]:
# View response as json
response.json()

{'allChecks': "{'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 0.5512,
 'quantity': 1,
 'traderId': 7}

In [1770]:
# View response as a dataframe
pd.DataFrame(response.json(), index=[0])

,allChecks,checks,marketId,price,quantity,traderId
0,"{'inputChk': True, 'traderIdChk': True, 'marke...",True,1,0.5512,1,7

In [1771]:
mId = response.json()['marketId']

In [1772]:
# Create a matched trade
url = baseurl+'createTrade'
content_maketrade['quantity'] = -1
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [1773]:
# View
response.json()

{'allChecks': "{'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 0.5512,
 'quantity': -1,
 'traderId': 7}

In [1774]:
# Create many matched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 0.22972798347473145 seconds.
matched trade: 1 in 0.19321298599243164 seconds.
matched trade: 2 in 0.2088477611541748 seconds.
matched trade: 3 in 0.20238208770751953 seconds.
matched trade: 4 in 0.199293851852417 seconds.

In [1775]:
content_maketrade

{'signingKey': '24b8812528d532171907bcd2e35543f2488e929ab99ffa62e393c24b92f4b359',
 'traderId': 7,
 'verifyKey': '6eac049b60e38db86e78f0e6789ad8889325834a8e7099ccc0de766c6853d8d9',
 'marketId': 1,
 'price': 0.5512,
 'quantity': 1}

In [1776]:
# Create many markets
url = baseurl+'createMarket'

for i in range(10):
    t = time.time()

    content_makemarket = {"signingKey": sk,
      "traderId": int(tId), "verifyKey": vk,
      "marketRootId": i+1, "marketBranchId": 1, "marketMin": 0, "marketMax":0.7}

    response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
    if response.json()['checks'] == 'True':
        print('market created: ' + str(i+1) + ' in ' + str(time.time() - t) + ' seconds.')
    else:
        print('failed to create market ' +str(i+1))

failed to create market 1
failed to create market 2
market created: 3 in 1.456376075744629 seconds.
market created: 4 in 3.02104115486145 seconds.
failed to create market 5
failed to create market 6
failed to create market 7
failed to create market 8
failed to create market 9
failed to create market 10

In [1777]:
response.json()

{'allChecks': "{'inputChk': True, 'marketLimitChk': False, 'traderIdChk': True, 'marketId': '7', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': True, 'timeChk': True}",
 'checks': 'False',
 'marketBranchId': 1,
 'marketId': 7,
 'marketMax': 0.7,
 'marketMin': 0,
 'marketRootId': 10,
 'traderId': 7}

In [1778]:
# Create many sub-markets
url = baseurl+'createMarket'
marketRootId = tId

for i in range(10):
    t = time.time()

    content_makemarket = {"signingKey": sk,
      "traderId": int(tId), "verifyKey": vk,
      "marketRootId": marketRootId, "marketBranchId": 1+i, "marketMin": 0, "marketMax":0.7}

    response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
    if response.json()['checks'] == 'True':
        print('market created: ' + str(i+1) + ' in ' + str(time.time() - t) + ' seconds.')
    else:
        print('failed to create sub market ' +str(i+1))

failed to create sub market 1
failed to create sub market 2
failed to create sub market 3
failed to create sub market 4
failed to create sub market 5
failed to create sub market 6
failed to create sub market 7
failed to create sub market 8
failed to create sub market 9
failed to create sub market 10

In [1779]:
response.json()

{'allChecks': "{'inputChk': True, 'marketLimitChk': False, 'traderIdChk': True, 'marketId': '7', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': True, 'timeChk': True}",
 'checks': 'False',
 'marketBranchId': 10,
 'marketId': 7,
 'marketMax': 0.7,
 'marketMin': 0,
 'marketRootId': 7,
 'traderId': 7}

In [1780]:
# View maximum and minimum of each market
url = baseurl+'viewMarketBounds'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1781]:
pd.read_json(response.json())

,marketId,marketRootId,marketBranchId,marketMin,marketMax,marketDesc
0,1,1,1,0,1.0,"India v Australia Sun 24 Feb, 13:30 betfair ma..."
1,2,2,1,2500,4500.0,BTCUSD
2,3,5,1,2500,4500.0,BTCUSD
3,4,6,1,0,1.0,"Market root : 6, branch: 1"
4,5,3,1,0,0.7,"Market root : 3, branch: 1"
5,6,4,1,0,0.7,"Market root : 4, branch: 1"

In [1788]:
# View whole order book
url = baseurl+'viewOrderBook'
content = {'marketId': 3}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [1789]:
pd.read_json(response.json())

      marketId    price  quantity  traderId  iMatched            timeStampUTC
1168         3  3976.37         1         5     False 2019-02-23 04:14:44.637
1169         3  3975.17         1         5      True 2019-02-23 04:14:48.960
1170         3  3975.17        -1         5      True 2019-02-23 04:17:49.159
1171         3  3977.17        -1         5      True 2019-02-23 04:14:49.051
1172         3  3977.17         1         5      True 2019-02-23 04:17:49.265
1173         3  3974.04         1         5      True 2019-02-23 04:17:52.104
1174         3  3976.04        -1         5      True 2019-02-23 04:17:52.210
1175         3  3974.04        -1         5      True 2019-02-23 04:20:52.327
1176         3  3976.04         1         5      True 2019-02-23 04:20:52.430
1177         3  3972.91         1         5      True 2019-02-23 04:20:57.499
1178         3  3972.91        -1         5      True 2019-02-23 04:23:57.710
1179         3  3974.91        -1         5      True 2019-02-23 04:20:57.595
1180         3  3974.91         1         5      True 2019-02-23 04:23:57.813
1181         3  3970.15         1         5      True 2019-02-23 04:24:00.724
1182         3  3970.15        -1         5      True 2019-02-23 04:27:00.942
1183         3  3972.15        -1         5      True 2019-02-23 04:24:00.844
1184         3  3972.15         1         5      True 2019-02-23 04:27:01.044
1185         3  3970.16         1         5      True 2019-02-23 04:27:04.174
1186         3  3970.16        -1         5      True 2019-02-23 04:30:04.389
1187         3  3972.16        -1         5      True 2019-02-23 04:27:04.274
1188         3  3972.16         1         5      True 2019-02-23 04:30:04.495
1189         3  3969.82         1         5      True 2019-02-23 04:30:08.781
1190         3  3969.82        -1         5      True 2019-02-23 04:33:09.003
1191         3  3971.82        -1         5      True 2019-02-23 04:30:08.884
1192         3  3971.82         1         5      True 2019-02-23 04:33:09.116
1193         3  3969.89         1         5      True 2019-02-23 04:33:12.069
1194         3  3969.89        -1         5      True 2019-02-23 04:36:12.287
1195         3  3971.89        -1         5      True 2019-02-23 04:33:12.174
1196         3  3971.89         1         5      True 2019-02-23 04:36:12.391
1197         3  3965.18         1         5      True 2019-02-23 04:36:15.401
1198         3  3965.18        -1         5      True 2019-02-23 04:39:15.617
1199         3  3967.18        -1         5      True 2019-02-23 04:36:15.504
1200         3  3967.18         1         5      True 2019-02-23 04:39:15.723
1201         3  3968.56        -1         5      True 2019-02-23 04:39:18.677
1202         3  3966.56         1         5      True 2019-02-23 04:39:18.573
1203         3  3966.56        -1         5      True 2019-02-23 04:42:18.785
1204         3  3968.56         1         5      True 2019-02-23 04:42:18.890
1205         3  3965.86         1         5      True 2019-02-23 04:42:22.030
1206         3  3965.86        -1         5      True 2019-02-23 04:45:22.254
1207         3  3967.86        -1         5      True 2019-02-23 04:42:22.135
1208         3  3967.86         1         5      True 2019-02-23 04:45:22.357
1209         3  3963.87         1         5     False 2019-02-23 04:45:25.105
1210         3  3965.87        -1         5     False 2019-02-23 04:45:25.209

In [1686]:
content_makemarket

{'signingKey': 'b25c2f2b781b9057f7782cdf473b8908b7d80f5f3cf1af73fb7f852969f0610a',
 'traderId': 9,
 'verifyKey': 'af4e6327d832a47871259f754d90d1ea5ed019a2614479dd4677f05a03091306',
 'marketRootId': 9,
 'marketBranchId': 10,
 'marketMin': 0,
 'marketMax': 0.7}

In [1687]:
# Create many unmatched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    content_maketrade['price'] = 0.43
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('unmatched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

unmatched trade: 0 in 1.8239548206329346 seconds.
unmatched trade: 1 in 1.7473399639129639 seconds.
unmatched trade: 2 in 1.9287259578704834 seconds.
unmatched trade: 3 in 1.80330491065979 seconds.
unmatched trade: 4 in 1.7138910293579102 seconds.

In [1688]:
a = response.json()
a

{'allChecks': "{'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 0.43,
 'quantity': -1,
 'traderId': 9}

In [1726]:
# View all open (unmatched trades)
url = baseurl+'viewOpenTrades'

content = {'marketId': mkId}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [1727]:
pd.read_json(response.json())

   marketId    price  quantity  traderId            timeStampUTC
0         1  3647.09         1         1 2019-02-09 23:00:43.006

In [1728]:
# View matched trades (summed over marketId/price/traderId)
url = baseurl+'viewMatchedTrades'
content = {'marketId': mkId}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [1729]:
pd.read_json(response.json())

     marketId    price  quantity  traderId
0           1  3617.66         0         1
1           1  3618.27         0         1
10          1  3622.36         0         1
100         1  3638.49         0         1
101         1  3638.56         0         1
102         1  3638.78         0         1
103         1  3639.78         0         1
104         1  3640.18         0         1
105         1  3640.48         0         1
106         1  3640.60         0         1
107         1  3640.78         0         1
108         1  3641.12         0         1
109         1  3641.91         0         1
11          1  3623.96         0         1
110         1  3642.01         0         1
111         1  3642.18         0         1
112         1  3642.48         0         1
113         1  3642.60         0         1
114         1  3642.70         0         1
115         1  3642.71         0         1
116         1  3642.93         0         1
117         1  3642.95         0         1
118         1  3643.12         0         1
119         1  3643.19         0         1
12          1  3624.24         0         1
120         1  3643.29         0         1
121         1  3643.42         0         1
122         1  3643.45         0         1
123         1  3643.49         0         1
124         1  3643.67         0         1
..        ...      ...       ...       ...
72          1  3635.60         0         1
73          1  3635.64         0         1
74          1  3635.65         0         1
75          1  3635.66         0         1
76          1  3635.86         0         1
77          1  3635.87         0         1
78          1  3635.99         0         1
79          1  3636.05         0         1
8           1  3622.11         0         1
80          1  3636.12         0         1
81          1  3636.15         0         1
82          1  3636.21         0         1
83          1  3636.48         0         1
84          1  3636.49         0         1
85          1  3636.56         0         1
86          1  3636.76         0         1
87          1  3636.79         0         1
88          1  3637.39         0         1
89          1  3637.44         0         1
9           1  3622.24         0         1
90          1  3637.60         0         1
91          1  3637.64         0         1
92          1  3637.65         0         1
93          1  3637.78         0         1
94          1  3637.86         0         1
95          1  3637.87         0         1
96          1  3637.99         0         1
97          1  3638.05         0         1
98          1  3638.21         0         1
99          1  3638.48         0         1

[552 rows x 4 columns]

In [1693]:
# Create many matched trades (own)
url = baseurl+'createTrade'

for i in range(5): 
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 3.894613027572632 seconds.
matched trade: 1 in 3.630260944366455 seconds.
matched trade: 2 in 3.622703790664673 seconds.
matched trade: 3 in 3.7874691486358643 seconds.
matched trade: 4 in 3.651853084564209 seconds.

In [1800]:
# View summary of trader for a particular trader
url = baseurl+'viewTradeSummary'
content = {'traderId': int(4)}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [1801]:
pd.read_json(response.json())

,marketId,price,quantity,traderId,iMatched,timeStampUTC,marketRootId,marketBranchId,marketMin,marketMax,marketMinOutcome,marketMaxOutcome
0,1,0.63,1,4,False,2019-02-23 04:12:54.803,1,1,0,1,-0.63,0.37
1,1,0.36,-1,4,True,2019-02-23 04:13:12.007,1,1,0,1,0.36,-0.64
10,1,0.37,1,4,True,2019-02-23 06:13:07.013,1,1,0,1,-0.37,0.63
100,1,0.35,-1,4,True,2019-02-23 14:56:45.308,1,1,0,1,0.35,-0.65
101,1,0.35,-1,4,True,2019-02-23 14:57:15.424,1,1,0,1,0.35,-0.65
102,1,0.36,1,4,True,2019-02-23 14:57:15.536,1,1,0,1,-0.36,0.64
103,1,0.36,1,4,True,2019-02-23 14:57:17.134,1,1,0,1,-0.36,0.64
104,1,0.35,-1,4,True,2019-02-23 14:57:17.247,1,1,0,1,0.35,-0.65
105,1,0.36,-1,4,True,2019-02-23 14:56:12.989,1,1,0,1,0.36,-0.64
106,1,0.36,-1,4,True,2019-02-23 14:56:43.104,1,1,0,1,0.36,-0.64
107,1,0.35,-1,4,True,2019-02-23 14:57:47.379,1,1,0,1,0.35,-0.65
108,1,0.36,1,4,True,2019-02-23 14:57:47.493,1,1,0,1,-0.36,0.64
109,1,0.36,1,4,True,2019-02-23 14:58:22.450,1,1,0,1,-0.36,0.64
11,1,0.36,-1,4,True,2019-02-23 06:12:36.785,1,1,0,1,0.36,-0.64
110,1,0.35,-1,4,True,2019-02-23 14:58:22.569,1,1,0,1,0.35,-0.65
111,1,0.35,-1,4,True,2019-02-23 14:58:52.692,1,1,0,1,0.35,-0.65
112,1,0.36,1,4,True,2019-02-23 14:58:52.802,1,1,0,1,-0.36,0.64
113,1,0.36,1,4,True,2019-02-23 14:58:54.651,1,1,0,1,-0.36,0.64
114,1,0.35,-1,4,True,2019-02-23 14:58:54.766,1,1,0,1,0.35,-0.65
115,1,0.36,1,4,True,2019-02-23 14:59:24.995,1,1,0,1,-0.36,0.64
116,1,0.35,-1,4,True,2019-02-23 14:59:24.884,1,1,0,1,0.35,-0.65
117,1,0.36,1,4,True,2019-02-23 15:39:17.004,1,1,0,1,-0.36,0.64
118,1,0.35,-1,4,True,2019-02-23 15:39:17.239,1,1,0,1,0.35,-0.65
119,1,0.36,1,4,True,2019-02-23 15:39:47.475,1,1,0,1,-0.36,0.64
12,1,0.36,-1,4,True,2019-02-23 06:13:06.909,1,1,0,1,0.36,-0.64
120,1,0.36,1,4,True,2019-02-23 15:39:49.352,1,1,0,1,-0.36,0.64
121,1,0.36,1,4,True,2019-02-23 15:40:19.836,1,1,0,1,-0.36,0.64
122,1,0.35,-1,4,True,2019-02-23 15:39:47.363,1,1,0,1,0.35,-0.65
123,1,0.35,-1,4,True,2019-02-23 15:39:49.579,1,1,0,1,0.35,-0.65
124,1,0.35,-1,4,True,2019-02-23 15:40:19.711,1,1,0,1,0.35,-0.65
...,...,...,...,...,...,...,...,...,...,...,...,...
72,1,0.36,-1,4,True,2019-02-23 13:03:26.243,1,1,0,1,0.36,-0.64
73,1,0.36,-1,4,True,2019-02-23 13:03:56.347,1,1,0,1,0.36,-0.64
74,1,0.36,-1,4,True,2019-02-23 13:03:58.477,1,1,0,1,0.36,-0.64
75,1,0.36,1,4,True,2019-02-23 13:04:28.676,1,1,0,1,-0.36,0.64
76,1,0.36,1,4,True,2019-02-23 13:05:33.929,1,1,0,1,-0.36,0.64
77,1,0.36,1,4,True,2019-02-23 13:06:04.234,1,1,0,1,-0.36,0.64
78,1,0.36,-1,4,True,2019-02-23 13:04:28.581,1,1,0,1,0.36,-0.64
79,1,0.36,-1,4,True,2019-02-23 13:05:34.024,1,1,0,1,0.36,-0.64
8,1,0.37,1,4,True,2019-02-23 05:54:55.280,1,1,0,1,-0.37,0.63
80,1,0.36,-1,4,True,2019-02-23 13:06:04.133,1,1,0,1,0.36,-0.64
81,1,0.36,1,4,True,2019-02-23 13:06:37.760,1,1,0,1,-0.36,0.64
82,1,0.36,1,4,True,2019-02-23 13:07:08.046,1,1,0,1,-0.36,0.64
83,1,0.36,1,4,True,2019-02-23 13:07:09.808,1,1,0,1,-0.36,0.64
84,1,0.36,-1,4,True,2019-02-23 13:06:37.852,1,1,0,1,0.36,-0.64
85,1,0.36,-1,4,True,2019-02-23 13:07:07.948,1,1,0,1,0.36,-0.64
86,1,0.36,-1,4,True,2019-02-23 13:07:09.905,1,1,0,1,0.36,-0.64
87,1,0.36,1,4,True,2019-02-23 13:07:40.108,1,1,0,1,-0.36,0.64
88,1,0.36,-1,4,True,2019-02-23 13:07:40.006,1,1,0,1,0.36,-0.64
89,1,0.36,1,4,True,2019-02-23 14:38:14.059,1,1,0,1,-0.36,0.64
9,1,0.37,1,4,True,2019-02-23 06:12:36.692,1,1,0,1,-0.37,0.63
90,1,0.36,1,4,True,2019-02-23 14:38:44.408,1,1,0,1,-0.36,0.64
91,1,0.36,-1,4,True,2019-02-23 14:38:14.171,1,1,0,1,0.36,-0.64
92,1,0.36,-1,4,True,2019-02-23 14:38:44.291,1,1,0,1,0.36,-0.64
93,1,0.36,1,4,True,2019-02-23 14:55:40.480,1,1,0,1,-0.36,0.64
94,1,0.35,-1,4,True,2019-02-23 14:55:40.591,1,1,0,1,0.35,-0.65
95,1,0.35,-1,4,True,2019-02-23 14:56:10.712,1,1,0,1,0.35,-0.65
96,1,0.36,1,4,True,2019-02-23 14:56:10.830,1,1,0,1,-0.36,0.64
97,1,0.36,1,4,True,2019-02-23 14:56:12.874,1,1,0,1,-0.36,0.64
98,1,0.36,1,4,True,2019-02-23 14:56:43.219,1,1,0,1,-0.36,0.64
99,1,0.36,1,4,True,2019-02-23 14:56:45.195,1,1,0,1,-0.36,0.64

In [1732]:
# Get a signed UTC timestamp
url = baseurl+'getSignedUTCTimestamp'
content = {}
response = requests.get(url, data=json.dumps(content), headers=headers)

In [1733]:
response.json()

{'timeStampUTC': '2019-02-16 07:49:04.637195',
 'timeStampUTCSignature': 'b\'\\x17\\x86\\xf8@\\x94\\xd9j\\xec\\xcfe\\x84\\xe1s\\\'F~q\\xf0MQ\\x92\\xeaqLU\\xe5\\x8c}K"\\xc0L\\x19\\x8e.\\xbe\\x8f\\x0er\\xe1\\x18e\\xba\\xa2\\xec\\xf6\\x00%\\x9e\\xc7N\\x02P\\xc8\\xc2\\xfd\\xc9\\x16\\x14\\x89/\\x845\\r\'',
 'verifyKey': 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'}


# Curl API examples



## Create user

~~~~
curl --header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/createUser
~~~~
        
## Create market

~~~~
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf",
"traderId": 1, 
"verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc",
"marketRootId": 1, 
"marketBranchId": 5, 
"marketMin": 0, 
"marketMax": 1}' 
--header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/createMarket
~~~~
    
## Create trade

~~~~
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf",
"traderId": 1, 
"verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc",
"marketId": 1,
"price": 0.1212,
"quantity": 1}' --header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/createTrade

~~~~
        
## View order book (output to file)

~~~~
curl --header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/viewOrderBook --output ob.txt
~~~~    
        
Also can load json from file with something like 
~~~~ 
curl -d "@data.json" -X POST http://blocmarket.herokuapp.com/data 
~~~~


# Matlab API examples


## Create user

~~~~
resp = webread('http://blocmarket.herokuapp.com/createUser')

~~~~

Returns something like

~~~~
'{"signingKey": '57f611e7cb7c5d4123be69663ccd06442c64db1a4f1161399dbb1b9bb6cc0e06'
           "traderId": '2'
      "verifyKey": 'ddaa5b0119a4ccfeffa36be0e6aac3682f798d021d5ded1d90512f2226e727b5'}'
~~~~

## Create market

~~~~
data = struct('signingKey', signingKey,...
'traderId', tId, ...
'verifyKey', verifyKey ,...
'marketRootId', 2, ...
'marketBranchId', 1, ...
'marketMin', 0.01, ...
'marketMax', 1)
resp = webwrite('http://blocmarket.herokuapp.com/createMarket', data, weboptions('RequestMethod', 'post','MediaType', 'application/json'))
~~~~

Returns something like

~~~~
'{
             "checks": 'True'
     "marketBranchId": 1
          "marketMax": 1
          "marketMin": 0.0100
       "marketRootId": 2
           "traderId": 1
}'
~~~~
## Create trade

~~~~
data = struct('signingKey', signingKey,...
'traderId', tId,...
'verifyKey', verifyKey ,...
'marketId', 1,...
'price', 0.51,...
'quantity', 1)
resp = webwrite('http://blocmarket.herokuapp.com/createTrade', data, weboptions('MediaType', 'application/json'))
~~~~

Returns something like
~~~~
'{
       "checks": 'True'
     "marketId": 1
        "price": 0.5100
     "quantity": 1
     "traderId": 1
 '}S
~~~~

## View market bounds
~~~~
data = struct('marketId', 1)
resp = webwrite('http://blocmarket.herokuapp.com/viewMarketBounds', data, weboptions('RequestMethod', 'post','contentType', 'json', 'Timeout', 10))
~~~~

## View order book
~~~~
data = struct('marketId':1)
resp = webwrite('http://blocmarket.herokuapp.com/viewOrderBook', data, weboptions('RequestMethod', 'post','contentType', 'json'), 'Timeout', 10)
~~~~

## View trade summary

~~~~
data = struct('traderId',1);
resp = webwrite('http://blocmarket.herokuapp.com/viewTradeSummary', data, weboptions('RequestMethod', 'post','MediaType', 'application/json', 'Timeout', 10))
~~~~


# Powershell

TODO

test cases with mismatched traderId/verifyKey
views to specific market
javascript/powershell for api
enforce max decimals DONE
table based checkcollateral
put up on digitalocean

write up another layer of trading interface